= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .clearfix
      = f.label :fb_id
  
    
      .input
        = f.text_field :fb_id
    
  
    .clearfix
      = f.label :fb_name
  
    
      .input
        = f.text_field :fb_name
    
  
    .actions
      = f.submit 'Save', :class=>"btn primary"
      %button.btn{:type=>"reset"}="Clear"